{% extends "base.html" %}
{% block content %}
<div class="container-fluid top-container off-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
            </div>
            <div class="col-md-6">
              <p>{{error}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="contact-title">Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form action="{{ url_for('contact') }}" class="contact-form" method="POST">
                {{ form.hidden_tag() }}
                {{ form.name }}
                {{ form.email }}
                {{ form.subject }}
                {{ form.message }}
                {{ form.submit }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}