<div class="container-fluid footer-wrapper">
	<div class="container">
		<div class="col-sm-4">
			<ul class="footer-list">
				<li class="footer-header">Resources</li>
				<li class="footer-item"><a href="/contact">Contact</a></li>
				<li class="footer-item"><a href="/terms">Terms of Use</a></li>
				<li class="footer-item"><a href="/terms">Policies</a></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="footer-list">
				<li class="footer-header">Social</li>
				<li class="footer-item"><a href="/contact"><i class="fa fa-facebook-official"> Facebook</i></a></li>
				<li class="footer-item"><a href="/terms"><i class="fa fa-instagram"> Instagram</i></a></li>
				<li class="footer-item"><a href="/terms"><i class="fa fa-twitter"> Twitter</i></a></li>
				<li class="footer-item"><a href="/terms"><i class="fa fa-google-plus"> Google+</i></a></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="footer-list">
				<li class="footer-header">Share</li>
				<ul class="share-button-wrapper">
					<li class="footer-item"><a href="/terms"><i class="fa fa-facebook-square"> Facebook</i></a></li>
					<li class="footer-item"><a href="/terms"><i class="fa fa-twitter-square"> Twitter</i></a></li>
					<li class="footer-item"><a href="/terms"><i class="fa fa-google-plus-square"> Google+</i></a></li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="copyright">Copyright 2016</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='build/js/scripts.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>