<nav>
	<div class="container">
		<ul class="fixed-menu">
			<li class="menu-left">
				<a class="logo" href="/">
				<img src="static/build/img/logo-nav.png" alt="logo" height="50px" width="auto">
				</a>
			</li>
			<li class="menu-right menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></li>
			<ul class="menu-items">
				<li><a href="/" class="contact-button">Home</a></li>
				<li><a href="/checkout" class="contact-button">Buy</a></li>
				<li><a href="/terms" class="contact-button">About</a></li>
				<li><a href="/contact" class="contact-button">Contact</a></li>
			</ul>
		</ul>
	</div>
</nav>