#product-home-background {
	background-image:
		linear-gradient(
			rgba($black,.2),
			rgba($black,.3)
		),
		url(../img/product-home-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	// padding: 0px;
	// margin: 0;
	z-index: -10;
	position: relative;
	color: $white;

	@include screen-sm {
		background-image:
			linear-gradient(
				rgba($black,.2),
				rgba($black,.3)
			),
			url(../img/product-home-background-mobile.jpg);
	}

	&:after {
		    content: "";
		    background: url(../img/crossed_stripes.png) repeat;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    position: absolute;
		    opacity: .6;
		    z-index: -4;
	}
}

.top-row {
	text-align: center;
	position: relative;
	z-index: 50;
}

.section-header {
	font-weight: bold;
	color: $dark-text;
	font-size: 28px;
	margin-bottom: 10px;
}

.section-text {
	color: $dark-text;
	font-size: 18px;
}

.picture-row {
	margin-top: 60px;
}

.product-image {
	padding-bottom: 10px;
}

.order-header {
	font-weight: bold;
	color: $dark-text;
	font-size: 20px;
	margin-bottom: 12px;
}

.input-wrapper {
	font-size: 18px;
	color: $dark-text;

	input {
		width: 45px;
		text-align: center;
		margin-left: 6px;
		border-radius: 4px;
		border: 1px solid $gray-dark;
		padding-top: 3px;
		padding-bottom: 3px;
	}
}

.order-product-image {
	border: 1px solid $gray;
	border-radius: 6px;
	box-shadow: 0 0 5px rgba($black,.4);
}

.order-wrapper {
	margin-top: 6px;

	p, div, button {
		margin-top: 2px;
		margin-bottom: 2px;
	}
}