nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	height: 80px;

	background: $white;
	border-bottom: 1px solid $gray;
	box-shadow: 0px 0px 5px rgba($black,.1);

	.container {
		height: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.fixed-menu {
		width: 100%;
		list-style-type: none;
		@include vertical-align();
	}

	li {
		@include vertical-align();
	}

	.menu-left {
		position: absolute;
		left: 0;
	}

	.menu-right {
		position: absolute;
		right: 0;
	}

	.menu-icon {
		display: none;
		color: $dark-text;
		font-size: 30px;
		margin-right: 20px;

		@include screen-sm {
			display: block;
		}
	}

	.menu-items,
	.menu-left {
		li {
			display: inline-block;
			text-align: right;
			margin-left: 40px;
			font-weight: bold;
			font-size: 18px;

			a {
				color: darken($gray,20);
				text-decoration: none;

				&:hover {
					color: darken($gray,30);
				}
			}
		}
	}

	.menu-items {
		position: absolute;
		right: 0;
		z-index: 20;
		min-height: 0 !important;

		@include screen-sm {
			width: 100%;
			position: absolute;
			right: 0;
			left: 0;
			margin-top: 58px;
			display: none;

			&:first-child {
				border-top: 1px solid $gray;
			}

			li {
				display: block;
				width: 100%;
				text-align: left;
				background: $white;
				border-bottom: 1px solid $gray;
				margin-left: 0;

				a {
					padding-left: 6px;
					padding-top: 8px;
					padding-bottom: 8px;
					font-size: 24px;
				}
			}
		}
	}
}

.logo {
}

.menu-visible {
	display: block !important;
}